.mbg{
  font-family: 'Helvetica', arial, sans-serif;
  background: url('../img/textures.png');
  background-color: rgb(52, 58, 64);
  font-size: 14px;
}
.bg-trp{
  background-color: transparent;
  padding: 5px;
}
.btn-mrg{
  margin: 3px;
}
.cl-w{
	color:#fff;
}
.settings {
  width: 500px;
}
.div-t{
  overflow-x:auto; 
  overflow-y:auto; 
  max-height: 75vh;
}
.loader {
  z-index: 1;
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 5px;
  height: 5px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media screen and (max-width: 850px) {

.settings {
  width: auto;
  }  
}
